html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c7b8a2; 
  color: #083A4F;
  font-family: 'Nunito', sans-serif;
  align-items: center;
}

/* Color scheme:

  main color for text #083A4F;
  can be secondary color its grey #4A4A47;
  background color for text #E4E7EB;
  main background #c7b8a2; 

*/
/* 
Navigation bar styles
*/
#nav_bar {
  position: sticky;
  top: 0;
  list-style-type: none; 
  margin-top: 4em;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: 0.3s;
  color: #083A4F;
}

.nav_link{
  margin-right: 7em;
  margin-left: 7em;
}

.nav_single{
  /* background-color: #4A4A47; */
  color: #083A4F;
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  padding: 0.3em;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  z-index: 0;
}

.nav_single::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: #E4E7EB;
  transform: scaleY(0.15);
  transform-origin: bottom;
  transition: transform 0.3s ease;
  z-index: -1;
  isolation: isolate;
}

#nav_bar.active{
  background-color: #083A4F;
  opacity: 90%;
}

.nav_single.active{
    color: #E4E7EB;
}

.nav_single.active::before{
  background-color: #b3b3ac;
  
  transform: scaleY(0.15);
}

.nav_single:hover::before{
  transform: scaleY(1);
}

.strip{
  background-color: #083A4F;
  padding: 1em;
}

.page_content{
  margin: 3em;
  padding: 1em;
  background-color: #E4E7EB;
}

#about_me{
  display: inline-block;
  flex-direction: column;
  background-color: #c7b8a2;
}

#about_me_content{
  display: flex;
}

#about_me_left{
  padding: 1em;
  flex-basis: 50%;
  margin-right: 1em;
  justify-content: center;
  /* border: 1px solid black; */
  background-color: #E4E7EB;
  border-radius: 40px;
  border: 5px solid #4A4A47;
}

.headers{
  display: inline-block;
  background-color: #E4E7EB;
  border-radius: 999px;
  outline: 0.1em solid #083A4F;
  padding: 0.2em 0.5em;
  margin-top: 3em;
  font-size: 400%;
}

#my_picture{
  height: 30em;
  width: 30em;
  justify-self: center;
  border: 1em solid #083A4F;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

#my_name{
  display: block;
  justify-self: center;
  font-size: xxx-large;
  background-color: #D6D0C4;
}

#about_me_right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  flex-basis: 100%;
  margin-left: 2em;
  /* border: 1px solid black; */
  background-color: #c7b8a2;
}

#about_me_right p{
  margin: 0;
  display: inline-block;
  align-self: flex-start;
  background-color: #E4E7EB;
  padding: 1.4em;
  color: #083A4F;
  font-size: 2.4em;
  font-weight: 600;
  border-radius: 100px;
  border: 5px solid #4A4A47;
}

#right_child{
  display: flex;
}

/* 
@container(max-width: 1109px){
  #about_me_right p{
    font-size: 5em;
  }
} */

#my_projects{
  flex-direction: column;
  background-color: #c7b8a2;
}

#project_content{
  display: flex;
  flex-wrap: wrap;
  background-color: #c7b8a2;
}

.project{
  display: block;
  justify-items: center;
  flex: 1 0 18%;
  margin: 1em;
  height: 100%;
  background-color: #E4E7EB;
  padding: 1em;
  padding-left: 0em;
  border: 8px solid #4A4A47;
  border-radius: 20px;
}

.project_title{
  margin: 0em 0.2em 0.8em 0.2em;
  background-color: #D6D0C4;
  border-radius: 999px;
  padding: 0.1em 0.3em;
  outline: 0.14em solid #4A4A47;
}

.image_skills{
  display: flex;
  margin-left: 0em;
}

.project_pic{
  display: block;
  justify-self: center;
  height: 13em;
  width: 13em;
  border-radius: 55px;
  outline: 0.4em solid #083A4F;
}

.project_desc{
  background-color: #D6D0C4;
  border-radius: 20px;
  font-size: large;
  font-weight: 600;
  margin: 1em;
  padding: 0.5em;
  outline: 0.2em solid #4A4A47;
}

.skills_used{
  list-style-type: none;
}

.skill{
  font-size: 1.5em;
  font-weight: 600;
  color: #083A4F;
  background-color: #D6D0C4;
  outline: 0.2em solid #4A4A47;
  border-radius: 999px;
  padding: 0.2em;
  margin-bottom: 0.5em;
  justify-self: center;
}

.go_to_proj_page{
  color: #083A4F; 
  background-color: #E4E7EB;
  outline: 0.2em solid #4A4A47;
  margin-left: 1em;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  padding: 0.1em;
  border-radius: 5px;
}

.go_to_proj_page:hover{
  background-color: #80807a;
}

#contact_me{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c7b8a2;
  margin: auto 5em auto 5em;
}

#contact_content{
  background-color: #E4E7EB;
  border: 0.5em solid #4A4A47;
  border-radius: 20px;
  padding: 3em;
}

#contact_form{
  display: flex;
  flex-direction: column;
}

.contact_input{
  color: #083A4F;
  box-sizing: border-box;
  font-size: xx-large;
  padding: 0.2em;
  border-radius: 10px;
  border: solid 0.13em #4A4A47;
  margin: 1em;
}

.input_header{
  font-size: xx-large;
  font-weight: 600;
}

.form_section{
  display: flex;
  flex-direction: column;
}

#message_input{
  height: 250px;
  width: 800px;
}

#contact_submit{
  display: inline-block;
  align-self: center;
  color: #083A4F;
  background-color: #ffffff;
  font-size: 250%;
  border: solid 0.1em #4A4A47;
  border-radius: 10px;
  padding: 0.2em;
}

#contact_submit:hover{
  background-color: #a7a7a5;
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 8em;
  background-color: #083A4F;
}

#rights{
  margin: 2em;
  color: #E4E7EB;
  font-size: xx-large;
  align-self: center;
}

/* 
.skill-badge:hover {
  background-color: #7D8F7A;
  color: #ffffff;
}

:root {
  --bg-main: #c7b8a2;
  --bg-surface: #E4E7EB;
  --bg-badge: #d6d0c4;

  --text-primary: #083A4F;
  --text-secondary: #4A4A47;

  --border-strong: #083A4F;
  --border-soft: #4A4A47;

  --accent: #7D8F7A;
}

*/