body{
    background-color: #c7b8a2; 
}

/* Color scheme:

  main color for text #083A4F;
  can be secondary color its grey #4A4A47;
  background color for text #E4E7EB;
  main background #c7b8a2; 

*/

#proj_title{
    display: flex;
    justify-self: center;
    font-weight: 700;
}

#repl{
    height: 900px;
    width: 800px;
    border: solid 0.4em #E4E7EB;
    border-radius: 20px;
    margin-right: 6em;
}

#project_nav{
    position: relative;
}

#proj_content{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 600;
    background-color: #c7b8a2;
}

#proj_side{
    background-color: #E4E7EB;
    padding: 2em;
    border: solid 0.3em #4A4A47;
    border-radius: 20px;
    width: 55%;
}

#replit_info{
    padding: 0.4em;
    margin-bottom: 4em;
    background-color: #D6D0C4;
    border: solid 0.2em #4A4A47;
    border-radius: 20px;
}

#project_desc{
    padding: 0.4em;
    margin-bottom: 4em;
    background-color: #D6D0C4;
    border: solid 0.2em #4A4A47;
    border-radius: 20px;
}

#repo{
    text-decoration: none;
    background-color: #D6D0C4;
    color: #083A4F;
    padding: 0.3em;
    border-radius: 20px;
    outline: solid 0.2em #4A4A47;
}
